

p {
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-box {
  width: 100%;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
}

.middle-box {
  border: 1px solid black;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
}

.bottom-box {

  border: 1px solid black;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
}


/* TIMER DISPLAY */
.timer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 80%;
  
  border-radius: 4px;
}

#timer {
    font-size: 4rem;
    border-radius: 4px;
}

.timer-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
}

.timer-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/* MIDDLE SECTION */
.end-reset-comp-buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-table-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* RESULTS TABLE */

table {
  border: 1px solid black;
  width: 90%;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

thead {
  background-color: #61dafb;
}

tbody {
  background-color: aliceblue;
}

td {
  text-align: center; /* Center the text horizontally */
  vertical-align: middle; /* Center the text vertically */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
