p {
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top-box {
  width: 100%;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
}

.middle-box {
  border: 1px solid black;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
}

.bottom-box {
  border: 1px solid black;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

/* TOP CONTIANER */

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showjumping-title-container {
  position: relative; /* Set the container to relative positioning */
  display: inline-block; /* Make the container shrink to fit its content */
}

.showjumping-title {
  font-family: 'Lilita One', cursive;
  display: flex;
  align-items: center;
}

.showjumping-title div {
  font-size: 30px;
  color: gold;
  transform: rotate(-10deg); 
  transform-origin: left center; 
  white-space: nowrap;
  position: absolute; 
  top: 23%;
  right: 233px; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Add black outline */
  letter-spacing: 0.9px;
}

.title-image {
  width: 50%;
  padding-bottom: 30px;
}

.resized-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}


/* TIMER DISPLAY */
.timer-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: #26303b;
  color: white;
  border: solid 2px black;
  border-radius: 10px;

}

#timer {
  padding-top: 70px;
  padding-bottom: 10px;
  font-size: 4rem;
  border-radius: 4px;
}

.faults-display {
  margin-bottom: 50px;
}

.timer-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}

.timer-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.start-button {
  margin-top: 20px;
  justify-content: space-between;
}

.faults-display {
  font-size: 14px;
  padding: 2px;
  border-radius: 4px;
  text-transform: uppercase;
}

.next-rider-timer {
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Lilita One', cursive;
  /* text-shadow: -1px -1px 0 #a6dd10, 1px -1px 0 #a6dd10, -1px 1px 0 #a6dd10, 1px 1px 0 #a6dd10; */
}

#start-button {
  width: 40%;
  height: 70px;
  background-color: #287d1b;
}

#fault-button {
  width: 40%;
  height: 70px;
}

/* WINNER COMPONENT */
.winners-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: flex-end;
  padding: 40px 10px 50px 10px;
}

.winners-container {
  position: relative;
  background: linear-gradient(45deg, #ffcc00, #ffec99);
  background-size: 200% 100%;
  animation: sparkle 2s linear infinite;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

@keyframes sparkle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


.third-place-container {
  height: 75px;
  background-color: green;
  color: white;
}

.second-place-container {
  height: 100px;
  background-color: green;
  color: white;
}

.first-place-container {
  height: 130px;
  background-color: gold;
}

.winner-ranked-container {
  font-family: 'Lilita One', cursive;
  padding: 4px;
  border: 1px solid black;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.4);
}

.winner-ranking-number {
  font-weight: 400;
}

.winner-name {
  font-size: 12px;
}


/* MIDDLE SECTION */

.middle-welcome {
  font-family: 'Lilita One', cursive;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}

.end-reset-comp-buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  padding-bottom: 20px;
  height: 30px;
}

#start-end-comp-button {
  height: 40px;
}

#reset-comp-button {
  height: 40px;
}

.title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lilita One', cursive;
  padding-bottom: 10px;
}

.results-table-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* RESULTS TABLE */

table {
  width: 90%;
}

thead {
  background-color: white;
  color: black;
}

th {
  text-align: left;
}

td {
  vertical-align: middle;
  text-transform: capitalize;
}

.results-header {
  font-size: 14px;
}

.results-body {
  font-size: 14px;
}


/* Bottom Container */

.bottom-container {
  width: 100%;
}

.add-riders-container {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rider-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.rider-input-inner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.start-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}



/* Start list Table */

.start-list-table {
  width: fit-content;
  font-size: 18px;
  border: 0;

}

.display-riders-name {
  font-family: 'Ubuntu Mono', monospace;
  padding-left: 10px;
}

.reset-restart-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.reset-button-container,
.delete-button-container {
  display: flex;
  align-items: center;
  margin-right: 8px; /* Adjust the spacing between the buttons as needed */

}

#reset-comp-button,
#delete-comp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Adjust the height as needed */
  width: 40px; /* Adjust the width as needed */
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}